/*# id*/
/*.class*/


body
{
	font-family: "Helvetica","Arial";
	font-size: 16px;
}


footer
{
	background: #22BCE0;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding: 1em;

}

header 
{
	background: #343b54;
	padding: 0.5em;
	color: white;
	overflow: hidden;

}


header h1
{
	font-size: 1.5em;
	text-align: center;
	display: inline-block;
	text-shadow: 5px, 5px, 10px, white;


}


header #avatar
{
  
}


header #avatar img
{
	border-radius: 12em;
	margin-left: 30px;
	display: inline-block;

}


nav
{
	background: #22BCE0;
	padding: 0.5em 0 0 0;
	
}

nav ul li 
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav ul li a
{
	text-decoration: none;
	color: white;
	display: block;
	margin: 0 0 20px 0;
	font-weight: bold;
	
}


section 
{
	background: #FF8C00;
}





